body{
    background: linear-gradient(to top right, #394867, #394867);
    height: 100vh;
    width: 90%;
    overflow: hidden;
}

#content-div-login{
    border: 1px solid black;
    border-radius: 25px;
    padding: 65px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    background: white;

}

#content-div-register{
    border: 1px solid black;
    border-radius: 25px;
    padding: 85px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    background: white;

}

#content-div-login.login-active{
    border: 1px solid black;
    border-radius: 25px;
    padding: 65px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    visibility: visible;
    background: white;

}



#content-div-register.regis-active{
    border: 1px solid black;
    border-radius: 25px;
    padding: 85px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: visible;
    background: white;

}

.input-div{
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 20px;
}

.captcha-div{
    border: solid 3px gray;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
}

.captcha-submission-div{
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
}

.label-txt{
    font-size: large;
    text-transform: capitalize;
    font-style: italic;
}


#captcha-popup{
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background-color: white;
    visibility: hidden;
    /* opacity: 0; */
    /* transition: 0.5s; */
}

#captcha-popup.popup-active{
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background-color: white;
    visibility: visible;
    /* opacity: 100%; */
    /* transition: 0.5s; */
}


#captcha-contents{
    display: grid;
    grid-template-rows: auto auto auto;
    visibility: hidden;
}

#captcha-contents.popup-active{
    display: grid;
    grid-template-rows: auto auto auto;
    visibility: visible;
}

.input-field{
    border-radius: 55px;
}

#div-header{
    text-align: center;
}

#submit-btn{
    border-radius: 25px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}